<% include ./partials/header %> <!-- ../represents one folder back	 -->

<!-- This is the Form where user can login -->
<div class="row">
<!-- creating the title for the form	 -->
    <h1 style="text-align: center">Login</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/login" method="post">
            <div class="form-group">
				 <!-- where the user can input the username inside the form	-->
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
				 <!-- where the user can input the password inside the form	-->
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
	<!-- styling the "Login" button with blue color while using bootstrap	-->
                <button class="btn btn-lg btn-primary btn-block">Login</button>
            </div>
        </form>
		<!-- styling the "Go Back" button with green color while using bootstrap	-->
        <a href="/feedbacks" class="btn btn-success btn-sm">Go Back</a>
    </div>
</div>

<% include ./partials/footer %> <!-- ../represents one folder back	 -->
